<div class="list-group-item" ng-class="{active: active}" ng-click="select(shift)">
    <div class="list-group-item-heading">
        {{shift.name}}
        <span class="label label-primary">Заказы: {{shift.orders.length}}</span>
        <span class="label label-primary">Сотрудники: {{shift.employees.length}}</span>
        <span class="label label-primary">Работы: {{shift.works.length}}</span>
        <span class="label label-primary">Значения: {{shift.values.length}}</span>

        <button class="btn btn-danger btn-xs fa fa-trash-o pull-right" ng-click="remove(shift)"></button>
    </div>
</div>
