<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Furman: Modernhouse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/webjars/jquery/2.1.4/dist/jquery.js"></script>
    <script src="/webjars/momentjs/2.10.6/moment.js"></script>
    <script src="/webjars/momentjs/2.10.6/locale/ru.js"></script>
    <script src="/webjars/angular/1.4.5/angular.js"></script>
    <script src="/webjars/angular-route/1.4.5/angular-route.js"></script>
    <script src="/webjars/angular-ui-grid/3.0.6/ui-grid.js"></script>
    <script src="/webjars/split-pane/split-pane.js"></script>
    <script src="/webjars/angular-split-pane/angular-split-pane.js"></script>
    <script src="/webjars/angular-ui-layout/src/ui-layout.js"></script>
    <script src="/webjars/testData.js"></script>
    <script src="/webjars/app.js"></script>
    <script src="/webjars/orders/orders.js"></script>
    <script src="/webjars/view2/view2.js"></script>
    <script src="/webjars/components/version/version.js"></script>
    <script src="/webjars/components/version/version-directive.js"></script>
    <script src="/webjars/components/version/interpolate-filter.js"></script>

</head>
<body>
</body>
</html>