<div class="panel panel-info" ng-controller="coreOrdersCtrl as vm">
    <div class="panel-heading">Выбрать заказы.
        <i class="fa fa-chevron-circle-right pull-right"
           ng-class="{'fa-chevron-circle-down': !vm.collapsed, 'fa-chevron-circle-right': vm.collapsed}"
           ng-click="vm.collapsed = !vm.collapsed"></i>
    </div>
    <div class="panel-body" collapse="vm.collapsed">
        <p class="input-group input-group-sm">
            <input type="text" class="form-control" datepicker-popup="{{vm.orderDate.format}}"
                   ng-model="vm.orderDate.date"
                   is-open="vm.orderDate.opened" min-date="vm.orderDate.minDate"
                   max-date="vm.orderDate.maxDate"
                   datepicker-options="vm.orderDate.options"
                   date-disabled="vm.orderDate.disabled(date, mode)"
                   ng-required="true"
                   close-text="Закрыть" ng-change="vm.dateChanged()"
                   custom-class="vm.orderDate.getDayClass(date, mode)"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.orderDate.open($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
        </p>
        <div class="grid" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-auto-resize></div>
    </div>
</div>
