<div class="panel panel-info" ng-controller="coreOrdersCtrl as vm">
    <div class="panel-heading">Заказы в производстве. Выбрано:
        <span class="label" ng-class="{'label-primary': vm.day.orders.length, 'label-warning': !vm.day.orders.length}">{{vm.day.orders.length}}</span>
        <i class="pull-right glyphicon glyphicon-chevron-right"
           ng-class="{'glyphicon-chevron-down': !vm.isCollapsed, 'glyphicon-chevron-right': vm.isCollapsed}"
           ng-click="vm.isCollapsed = !vm.isCollapsed"></i>
    </div>
    <div class="panel-body" collapse="vm.isCollapsed">
        <p class="input-group input-group-sm">
            <input type="text" class="form-control" datepicker-popup="{{vm.orderDate.format}}"
                   ng-model="vm.orderDate.date"
                   is-open="vm.orderDate.opened" min-date="vm.orderDate.minDate"
                   max-date="vm.orderDate.maxDate"
                   datepicker-options="vm.orderDate.options"
                   date-disabled="vm.orderDate.disabled(date, mode)"
                   ng-required="true"
                   close-text="Закрыть" ng-change="vm.dateChanged()"
                   custom-class="vm.orderDate.getDayClass(date, mode)"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.orderDate.open($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
        </p>
        <div class="grid" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-auto-resize></div>
    </div>
</div>
