<div>
    <div class="modal-header">
        <button class="btn btn-primary" ng-click="vm.print()">Печать</button>
        <button class="btn btn-link" ng-click="$close()">Закрыть</button>
    </div>
    <div class="modal-body">
        <div id="print-content" class="panel">
            <div class="panel-title h3 text-center">
                Заказы на: {{vm.dayDate | date:'yyyy-MM-dd'}}
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condense">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Номер</th>
                        <th>Название</th>
                        <th>Заказчик</th>
                        <th>Дата гт-ти</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in vm.dayOrders">
                        <th scope="row">{{$index + 1}}</th>
                        <td>
                            <pay-order-title order="order.payOrder"></pay-order-title>
                        </td>
                        <td>{{order.payOrder.name}}</td>
                        <td>{{order.payOrder.customer.name}}</td>
                        <td>{{vm.localDate2Date(order.payOrder.readyDate) | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
