/* app css stylesheet */

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.pretty-split-pane-frame {
    width: 100%;
    height: 800px;
}

.grid {
    width: 100%;
    height: 95%;
}

.ui-grid {
    text-align: right;
}

#employee-editor .ui-grid {
    text-align: left;
}

#employee-list .ui-grid {
    text-align: center;
}

#employee-list .row-button {
    float: left;
}

#employee-list .glyphicon {
    font-size: 10px;
}

#shift-editor .ui-grid {
    text-align: left;
}

#shift-list .ui-grid {
    text-align: center;
}

#shift-list .row-button {
    float: left;
}

#shift-list .glyphicon {
    font-size: 10px;
}


input[type="number"] {
    text-align: right;
}

/*ui-layout*/
.stretch {
    top: 28px;
}

.has-orders button span {
    background-color: #5cb85c;
    border-radius: 32px;
    color: black;
}
