/* app css stylesheet */

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.btn-space {
    margin-right: 5px;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.pretty-split-pane-frame {
    width: 100%;
    height: 800px;
}

.grid {
    width: 100%;
    height: 95%;
}

.ui-grid {
    text-align: right;
}

.values-editor .grid .ui-grid-header-cell .ui-grid-cell-contents {
    height: 64px;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
    text-align: center;
}

#employee-editor .ui-grid {
    text-align: left;
}

#employee-list .ui-grid {
    text-align: center;
}

#employee-list .row-button {
    float: left;
}

#employee-list .glyphicon {
    font-size: 10px;
}

#shift-editor .ui-grid {
    text-align: left;
}

#shift-list .ui-grid {
    text-align: center;
}

#shift-list .row-button {
    float: left;
}

#shift-list .glyphicon {
    font-size: 10px;
}

input[type="number"] {
    text-align: right;
}

/*ui-layout*/
.stretch {
    top: 28px;
}

.has-orders button span {
    background-color: seagreen;
    border-radius: 32px;
    color: black;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-status-design {
    color: darkred !important;
}

.order-status-production {
    color: orange !important;
}

.cell-payOrder {
    background-color: #FFB6B6 !important;
}

.cell-dayOrder {
    background-color: #94D094 !important;
}

.cell-dayShift {
    background-color: #72A0A0 !important;
}

.cell-order-number {
    text-align: left;
    margin-left: 5px;
}

/*@media print {*/
/*body * {*/
/*visibility: hidden;*/
/*}*/
/*#print-content * {*/
/*visibility: visible;*/
/*}*/
/*.modal{*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*margin: 0;*/
/*padding: 0;*/
/*min-height:550px*/
/*}*/
/*}*/
