<div class="well-sm" id="pay-order-info" ng-controller="payOrderInfoCtrl as vm">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div ng-if="vm.service.payOrderInfo">
                <pay-order-title order="vm.service.payOrderInfo.payOrder"></pay-order-title>
                , {{vm.service.payOrderInfo.payOrder.name}},
                {{vm.localDate2Date(vm.service.payOrderInfo.payOrder.createdDate)|date:'yyyy-MM-dd'}}
            </div>
            <div ng-if="!vm.service.payOrderInfo">
                <div>Выбирете заказ</div>
            </div>
        </div>
        <div class="panel-body">
            <div ng-if="vm.service.payOrderInfo">
                <div class="grid" ui-grid="vm.gridOptions" ui-grid-pinning ui-grid-edit ui-grid-row-edit ui-grid-cellnav
                     ui-grid-resize-columns></div>
            </div>
            <div ng-if="!vm.service.payOrderInfo">
                <div class="btn-block">
                    <div class="btn btn-primary btn-sm btn-space" ng-repeat="dayOrder in vm.dayEditorService.dayOrders"
                         ng-click="vm.service.load(dayOrder.payOrder.id)">
                        <pay-order-title order="dayOrder.payOrder"></pay-order-title>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>